<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elective Course Registration</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/subjects.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include('header.ejs') %>
        <% subjects=[ { name: "Web Technology" , code: "CSE-3700" , max: 60, current: 60 }, 
            { name: "Software Engineering" , code: "CSE-4400" , max: 60,current: 6 }, 
            {name:"Database Management Systems",code:"DBMGY4901",max:60,current:30}]; %>
            <form action="">
                <div class="select-sub">
                    <h1>Select your desired Elective Course</h1>
                    <div class="select-cont">
                        <h3>Courses</h3>
                        <hr>
                        <div class="courses">
                            <% subjects.forEach(function (item) { %>
                                <div class="course-sel">
                                    <div class="course">
                                        <p class="course-name">
                                            <%= item.name %>
                                        </p>
                                        <p class="course-code">
                                            <%= item.code %>
                                        </p>
                                    </div>
                                    <div class="course-select">
                                        <p class="course-status">
                                            <span><%= (item.max===item.current) ? "Completed" : "" %></span>
                                        </p>
                                        <p>
                                            <%= item.current %>/<%= item.max %>
                                        </p>
                                        <input type="radio" name="course" id="<%= item.code %>" value="<%= item.code %>" <%= (item.max===item.current) ? "disabled" : " " %>>
                                    </div>
                                </div>
    
                                <% }) %>
                        </div>
                        <hr>
                        <div class="sub">
                            <input type="reset" value="Reset">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </div>
            </form>
            
</body>
<script>

</script>

</html>